body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

input, button {
    margin: 10px;
}

#image {
    max-width: 750px;
    max-height: 750px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    padding: 10%; /* Cushion */
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
