body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

input, button {
    margin: 10%;
}

textcontainer {
    max-width: 1000px
}

#image {
    width: 80%;
    aspect-ratio : 1 / 1;
    max-width: 750px;
    max-height: 750px;
}
